<footer class="post-info">
  <side-block>
    <side-content>
      <span>
        {% if DEFAULT_LANG == 'nl' %}
          Gepubliceerd: {{ article.locale_date }}
        {% else %}
          Published: {{ article.locale_date }}
        {% endif %}
      </span>
      {% if article.modified %}
        <br />
        <span>
          {% if DEFAULT_LANG == 'nl' %}
            Gewijzigd: {{ article.locale_modified }}
          {% else %}
            Updated: {{ article.locale_modified }}
          {% endif %}
        </span>
      {% endif %}
      {% if article.authors %}
        <br />
        <span>
          {% if DEFAULT_LANG == 'nl' %}
            Door
          {% else %}
            By
          {% endif %}
          {% for author in article.authors %}
            {{ author }}
          {% endfor %}
        </span>
      {% endif %}
      {% include 'taglist.html' %}
    </side-content>
  </side-block>

</footer><!-- /.post-info -->
